@model Razor.Models.Product

@{
    ViewBag.Title = "DemoExpression";
}


<table>
    <thead>
        <tr><th>Właściwość</th><th>Wartość</th></tr>
    </thead>
    <tbody>
        <tr><td>Nazwa</td><td>@Model.Name</td></tr>
        <tr><td>Cena</td><td>@Model.Price</td></tr>
        <tr><td>Ilość w magazynie</td><td>@ViewBag.ProductCount</td></tr>

    </tbody>
</table>
